<div class="container-navbar">
    <div class="col-sm-2">
        <img class="logo" src="http://vignette1.wikia.nocookie.net/lyricwiki/images/c/cf/Sports_Logo_-_FC_Barcelona.png/revision/latest?cb=20120105094542" alt="logo">
    </div>
    <div class="col-sm-offset-5 col-sm-5">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{accountName}}
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Role: Admin</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Projects</a></li>
            </ul>
        </div>
    </div>
</div>