.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.container-all{
    position: relative;
    top: 100px;
}
.left-container{
    text-align: center;
    height: 100%;
    border: 1px solid gray;
}
.right-container{
    text-align: center;
    height: 100%;
    border: 1px solid gray;
}
#box-area{
    display: none;
}
.click-list{
    cursor: pointer;
}
.text-details{
    text-align: left;
    margin-top: 25px;
}
.pic-user-style{
    max-width: 100%;
    margin-top: 15px;
}
.btn-remove{
    width: 100px;
    height: 25px;
    background-color: red;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
}