<div class="left-container">
    <div class="student-list">
        <p>Student List</p>
        <ul id="list">
            <li class="click-list text-left" *ngFor="let stud of students"
                (click)="ClickStudent(stud)"
                id="{{stud.id}}">{{stud.name}}
            </li>
        </ul>
    </div>
    <!--<student-profile></student-profile>-->
    <div class="student-profile" *ngIf="studentClicked">
        <div class="col-md-12 text-left"><h3>Student Profile</h3></div>
        <div class="col-md-3">
            <pic-user></pic-user>
        </div>

        <div class="col-md-9">
            <ul class="text-details">
                <li>Name: {{thisStudent.name}}</li>
                <li>Age: {{thisStudent.age}}</li>
                <li>Address: {{thisStudent.city}}</li>
                <li>Language: {{thisStudent.lang}}</li>
            </ul>
        </div>

        <div class="col-md-12 text-right" *ngIf="studentClicked">
            <button class="btn-remove">Delete Student</button>
        </div>
    </div>
</div>
